<div class="container">
  <h1>注文履歴詳細</h1>
  <div class="row">
    <div class="col-md-7">
      <p>注文情報</p>
      <%= form_for(@order, url: admin_order_path(@order.id) ) do |f| %>
      <table class= "table-border:none">
        <tr>
          <td>購入者</td>
          <td> <%= link_to(admin_user_path(@user), class: "name")  do %>
              <div class= "name">
              <%= "#{@user.family_name}#{@user.first_name}" %></div>
              <% end %>
        </td>
      </tr>
      <tr>
        <td>配送先</td>
        <td><%= @order.shipping_postcode %><br>
            <%= @order.shipping_adress %><br>
            <%= @order.shipping_name %>
        </td>
      </tr>

      <tr>
        <td>支払方法</td>
        <td><%= @order.pay %></td>
      </tr>

      <tr>
        <!-- 注文ステータスを変更できるようにする -->
        <td>注文ステータス</td>
        <td><%= f.select :status, Order.statuses.keys, {selected: @order.status} %></td>
        <%= hidden_field_tag :select_id ,"1" %>
        <%= hidden_field_tag :order_id ,@order.id %>
        <td><%= f.submit "更新", class: "btn btn-primary" %></td>
        </tr>
        </table>
        <% end %>
      </div>
  </div>




<div class="row">
  <div class="col-md-7">
    <p>注文内容</p>
      <table class="table">
        <tr class="active">
        <th>商品</th>
        <th>単価</th>
        <th>個数</th>
        <th>小計</th>
        <th>製作ステータス</th>
        </tr>

        <tbody>
          <% sum_all = 0 %> <!--合計金額の初期設定-->
          <% @order_products.each do |order_product| %>

        <tr>
        <td>
        <%= order_product.product.product_name %></td>
        <td><%= order_product.unit_price %></td>
        <td><%= order_product.production_item %></td>
        <td><%= sum_product = order_product.unit_price.to_i * order_product.production_item %>
        <% sum_all += sum_product %></td>

        <td>
          <%= form_for(order_product, url: admin_order_path(order_product.id)) do |f| %>
            <%= f.select :production_status, OrderProduct.production_statuses.keys, {selected: order_product.production_status} %>
            <%= hidden_field_tag :select_id ,"2" %>
            <%= hidden_field_tag :product_id, order_product.product_id %>
            <%= hidden_field_tag :order_id, order_product.order_id %>
            <%= f.submit "更新", class: "btn btn-primary" %>
          <% end %>
        </td>
        </tr>
          <% end %>
        </tbody>
      </table>
  </div>


  <div class="col-md-5">
  <table class= "table-border:none">
    <tr>
      <th>商品合計</th>
      <td><%= @order.total_price-800 %>円 </td>
    </tr>
    <tr>
      <th>配送料</th>
      <td><%= @order.postage %>円</td>
    </tr>
    <tr>
      <th>ご請求額</th>
      <td><%= @order.total_price %>円</td>
    </tr>
  </table>
  </div>
</div>















