

<h1>注文情報確認</h1>
<table class= "table">
  <thead>
    <tr>
    <td></td>
      <td>商品名</td>
      <td>単価(税込)</td>
      <td>数量</td>
      <td>小計</td>
    </tr>
  </thead>
  <tbody>
    <% sum_all = 0 %> <!--合計金額の初期設定-->
    <% @carts.each do |cart| %>
    <tr>
    <td><%= attachment_image_tag cart.product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %></td> 
      <td><%= cart.product.product_name %></td>
      <td><%= cart.product.unit_price %></td>
      <td><%= cart.product_number %></td>
      <td><%= sum_product = cart.product.unit_price.to_i * cart.product_number %>
             <% sum_all += sum_product %></td>
    </tr>
    <% end %>
  </tbody>


<%= form_for @order do |f| %>
支払方法
  <% if @order.pay == 0 %>
    クレジットカード
  <% else %>
    銀行振込
  <% end %>

お届け先
<%= form_with model:@order, local: true, method: :post, url:orders_path do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :shipping_postcode, value: @user.postcode %>
  <%= f.hidden_field :shipping_address, value: @order.shipping_adress %>
  <%= f.hidden_field :shipping_name, value: @order.shipping_name %>


<% if @order.full == 0 %>
<%= "#{current_user.postcode} #{current_user.address}" %>
<%= "#{current_user.first_name} #{current_user.family_name}" %>

  <% elsif @order.full == 1 %>
  <%= @shipping_addresses.fulladdress %>


  <% else @order.full == 2 %> 
<%= @order.shipping_postcode %>
<%= @order.shipping_adress %>
<%= @order.shipping_name %>
  <% end %>

  <%= f.submit '購入を確定する' %>

<% end %>
<% end %>