
<h1>注文情報確認</h1>
<table class="table table-bordered">
    <tr class="active">
    <th></th>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  <tbody>
    <% sum_all = 0 %> <!--合計金額の初期設定-->
    <% @carts.each do |cart| %>
    <tr>
    <td><%= attachment_image_tag cart.product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %></td>
      <td><%= cart.product.product_name %></td>
      <td><%= cart.product.unit_price %></td>
      <td><%= cart.product_number %></td>
      <td><%= sum_product = cart.product.unit_price.to_i * cart.product_number %>
             <% sum_all += sum_product %></td>

    </tr>
    <% end %>
  </tbody>


<%= form_with model:@order, local: true, method: :post, url:orders_path do |f| %>
  <table class="table table-bordered">
<td class="active">支払方法</td>
<% if params[:pay] == "クレジット" %>
<td>クレジットカード</td>
  <% else params[:pay] == "銀行振込" %>
    <td>銀行振込</td>
  <% end %>
<%= f.hidden_field :pay, :value => params[:pay] %>


<tr>
<td class="active">お届け先</td>




<% if params[:full] == "myaddress" %>
<td>
  <%= "#{current_user.postcode} #{current_user.address}" %>
  <%= "#{current_user.family_name} #{current_user.first_name}" %>
</td>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :shipping_postcode, value: current_user.postcode %>
  <%= f.hidden_field :shipping_adress, value: current_user.address %>
  <%= f.hidden_field :shipping_name, value: current_user.family_name + current_user.first_name %>



  <% elsif params[:full] == "listaddress" %>
 <td><%= @shipping_addresses.shipping_postcode %>
  <%= @shipping_addresses.shipping_address %>
  <%= @shipping_addresses.shipping_name %>
</td>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :shipping_postcode, value: @order.shipping_postcode %>
  <%= f.hidden_field :shipping_adress, value: @order.shipping_adress %>
  <%= f.hidden_field :shipping_name, value: @order.shipping_name %>

  <% else params[:full] == "newaddress" %>
<td>
  <%= @order.shipping_postcode %>
  <%= @order.shipping_adress %>
  <%= @order.shipping_name %>
</td>
<%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :shipping_postcode, value: @order.shipping_postcode %>
  <%= f.hidden_field :shipping_adress, value: @order.shipping_adress %>
  <%= f.hidden_field :shipping_name, value: @order.shipping_name %>
</tr>
  </table>
  <% end %>

  <%= f.submit '購入を確定する' %>


<%= f.hidden_field :total_price, value: sum_all + 400 %>


<% end %>


<table class="table table-bordered">
  <tr>
    <td>送料</td>
    <td><%= @order.postage %></td>
  </tr>
  <tr>
    <td>商品合計</td>
    <td><%= sum_all %></td>
  </tr>
  <tr>
    <td>商品合計</td>
    <td><%= sum_all + 400 %></td>
  </tr> 
</table>