<!DOCTYPE html>
<html>

	<body>

		<div class="container">
			
			<div class="row">
				
				<div class="col-">
					
					<h3>注文情報入力</h3>

					<h4>支払方法</h4>

					<%= form_with model: @order, local: true, method: :post, url: orders_confirm_path do |f| %>

						<!--ラジオボタン クレジット-->
						<%= f.radio_button :pay, '0', checked: true %>
						<%= f.label :pay, 'クレジットカード', value: 0 %>
						<br />
						<!--ここまで-->

						<!--ラジオボタン 銀行振込-->
						<%= f.radio_button :pay, '1' %>
						<%= f.label :pay, '銀行振込', value: 1 %>
						<!--ここまで-->


					<h4>お届け先</h4>

						<!--ラジオボタン　ご自身の住所-->
						<%= f.radio_button :pau, '2', checked: true %>
						<%= f.label :pay, 'ご自身の住所' %><br />
						<%= "#{@user.postcode} #{@user.address}"  %><br />
						<%= "#{@user.family_name + @user.first_name}" %>
						<br />
						<!--ここまで-->

						<!--ラジオボタン 登録済住所から-->
						<%= f.radio_button :pay, '3' %>
						<%= f.label :pay, '登録済住所から選択' %><br />
						<%= f.collection_select :fulladdress, ShippingAddress.all, :id,:fulladdress, prompt: "選択してください" %>
						<br />
						<!--ここまで-->

						<!--ラジオボタン 新しいお届け先-->
						<%= f.radio_button :pay, '4' %>
						<%= f.label :pay, '新しいお届け先' %>
						<li>
							郵便番号(ハイフンなし)
							<%= f.text_field :shipping_postcode %>
						</li>
						<li>
							住所
							<%= f.text_field :shipping_adress %>
						</li>
						<li>
							宛名
							<%= f.text_field :shipping_name %>
						</li>
						<!--ここまで-->


						<%= f.submit '確認画面へ進む' %>


					<% end %>


				</div>

			</div>

		</div>

	</body>

</html>