<!DOCTYPE html>
<html>

	<body>

		<div class="container">

			<div class="row">

					<h3>注文情報入力</h3>

					<h4>支払方法</h4>

					<%= form_with model: @order, local: true, method: :post, url: orders_confirm_path do |f| %>

						<%= radio_button_tag("pay", "クレジット", checked: true)  %>
						<%= label_tag("pay_credit", "クレジットカード") %><br />

						<%= radio_button_tag("pay", "銀行振込") %>
						<%= label_tag("pay_bank", "銀行振込") %>



					<h4>お届け先</h4>

						<%= radio_button_tag("full", "myaddress", checked: true)  %>
						<%= label_tag("full_myaddress", "ご自身の住所") %><br />
							<%= "#{@user.postcode} #{@user.address}"  %><br />

							<%= "#{@user.family_name + @user.first_name}" %><br />

						<%= radio_button_tag("full", "listaddress")  %>
						<%= label_tag("full_listaddress", "登録済住所から選択") %><br />


						<%= f.collection_select :listaddress, @shipping_address, :id,:fulladdress, prompt: "選択してください" %><br />


						<%= radio_button_tag("full", "newaddress") %>
						<%= label_tag("full_newaddress", "新しいお届け先") %><br />

							<table class="table-borderless">

							<tr>
								<th>郵便番号(ハイフンなし)</th>
								<th><%= f.text_field :shipping_postcode %></th>
							</tr>

							<tr>
								<th>住所
								<th><%= f.text_field :shipping_adress %></th>
							</tr>

							<tr>
								<th>宛名
								<th><%= f.text_field :shipping_name %></th>
							</tr>

							</table>

						<%= f.submit '確認画面へ進む', class: "btn btn-primary" %>

					<% end %>

			</div>

		</div>

	</body>

</html>