<div class="container">
<div class="row">
<h3>ショッピングカート</h3>
<div class="text-right">
<%= link_to 'カートを空にする', destroy_all_carts_path, method: :delete, class: 'btn btn-danger' %>
</div>
</div>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr class="active">
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% sum_all = 0 %>
      <% @carts.each do |cart| %>
      <tr>
        <td><%= attachment_image_tag cart.product, :product_image, :fill, 100, 100, format: 'jpeg' %><%= cart.product.product_name %></td>
        <td><%= cart.product.unit_price %></td>
        <td><%= form_with model: cart, local: true do |f| %>
        <%= f.number_field :product_number, value: cart.product_number, min:1, max:99  %>
            <%= f.submit "変更", class: "btn btn-primary" %></td>
          <% end %>
        <td><%= sum_product = cart.product.unit_price.to_i * cart.product_number %>
               <% sum_all += sum_product %></td>
        <td><%= link_to "削除する", cart_path(cart), method: :delete, class: "btn-sm btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
   <div class="col-lg-9">
  <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %><br>
</div>
  <div class="col-lg-3">
  <table class="table table-bordered">
    <tr>
      <th class="active">合計金額</th><td width="150"><%= sum_all %></td>
    </tr>
  </table>
</div>
</div>
<div class="row">
  <center>
  <%= link_to "情報入力に進む", orders_new_path, class: "btn btn-success btn-lg" %>
  </center>
</div>
</div>