<h1>配送先編集</h1>

<%= form_for(@shipping_address, url: shipping_address_path) do |shipping_address| %>
	<%= shipping_address.label "郵便番号(ハイフンなし)" %>
	<%= shipping_address.text_field :shipping_name, class: "form-control" %><br>
	<%= shipping_address.label "住所" %>
	<%= shipping_address.text_area :shipping_postcode, class: "form-control" %><br>
	<%= shipping_address.label "宛名" %>
	<%= shipping_address.text_field :shipping_address, class: "form-control" %><br>
		<%= shipping_address.submit "編集する", class: "btn btn-success" %>
	<% end %>