<h1>AdminUsers#edit</h1>
<p>Find me in app/views/admin_users/edit.html.erb</p>
<h1><%= @user.first_name %><%= @user.family_name %>　さんの会員詳細</h1>

会員ID
<%= @user.id %>
<!-- form_for部分 -->
<%= form_for(@user, url: admin_user_path) do |f| %>
  <h4>氏名</h4>
  <%= f.text_field :first_name %>
  <%= f.text_field :family_name %>
  <h4>フリガナ</h4>
  <%= f.text_field :first_name_kana %>
  <%= f.text_field :family_name_kana %>
  <h4>郵便番号</h4>
  <%= f.text_area :postcode %>
　<h4>住所</h4>
  <%= f.text_area :address %>
  <h4>電話番号</h4>
  <%= f.text_area :phone_number %>
  <h4>メールアドレス</h4>
  <%= f.text_area :email %>
<h4>ステータス</h4>
<%= f.radio_button :user_status, :member, checked: "checked" %>
    <%= f.label :member %>
    <%= f.radio_button :user_status, :unmember %>
    <%= f.label :unmember, class: "user_status_label" %>
  </div>

  <%= f.submit '変更を保存する' %>

<% end %>

