<!DOCTYPE HTML>

<h1>会員一覧</h1>
<div class="container">
 <table class="table table-striped">
      <thead>
   	  <tr>
   	 	<th>会員ID</th>
   	 	<th>氏名</th>
   	 	<th>メールアドレス</th>
   	 	<th>ステータス</th>
   	  </tr>
   	</thead>


   <% @users.each do |user| %>
   <tbody>
   	<tr>
   		<td><%= user.id %></td>
   		<td><%= link_to(admin_user_path(user), class: "name")  do %>
   			<div class= "name">
   			<%= "#{user.first_name}#{user.family_name}" %></div>
   		<% end %>
         </td>
         <td><%= user.email %></td>
         <td><%= user.user_status %></td>

	<% end %>
	</tr>

	</tbody>
   
</table>
</div>