
<h1><%= @user.family_name %><%= @user.first_name %>　さんの会員詳細</h1>

顧客ID
<%= @user.id %>
<%= @user.user_status %><br />
氏名
<%= @user.family_name %> <%= @user.first_name %><br />
フリガナ
<%= @user.family_name_kana %><%= @user.first_name_kana %><br />
郵便番号
<%= @user.postcode %><br />
住所
<%= @user.address %><br />
電話番号
<%= @user.phone_number %><br />
メールアドレス
<%= @user.email %><br />
<br />

<%= link_to "編集する", edit_admin_user_path(@user.id) %>

<%= link_to "注文履歴一覧を見る", detail_admin_order_path(@user.id) %>
