<h1>AdminUsers#show</h1>
<p>Find me in app/views/admin_users/show.html.erb</p>

<h1><%= @user.first_name %><%= @user.family_name %>　さんの会員詳細</h1>

顧客ID
<%= @user.id %>
氏名<%= @user.first_name %> <%= @user.family_name %>
フリガナ<%= @user.first_name_kana %><%= @user.family_name_kana %>
郵便番号<%= @user.postcode %>
住所<%= @user.address %>
電話番号<%= @user.phone_number %>
メールアドレス<%= @user.email %>

<%= link_to "編集する", edit_admin_user_path(@user.id) %>