<div class="row">
<div class="col-md-3">
<%= render 'admin_genres/genre', genre: @genres %>
</div>
<div class="col-xs-9">
<h1>商品一覧 （全<%= @products.total_count %>件）</h1>
<% @products.each do |product| %>
  <% if product.genre.status == "有効" %>
  <div class="list">
  <td><%= attachment_image_tag product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "150x130" %></td>
  <h4 class="card-title"><%= link_to product.product_name, product_path(product.id) %></h4>
  <p class="card-text"><%= product.product_introduction %></p>
  </div>
  <% end %>
  <% end %>
  <%= paginate @products %>
  </div>
  </div>



  
