<div class="col-xs-3">
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
      <th>ジャンル検索</th>
      </tr>
      <tr>
      <% @genres.each do |genre| %>
        <tr>
        <td><%= link_to genre.name, products_path(genre.id) %></td>
        </tr>
        <% end %>
        </tr>
    </tbody>
  </table>  
</div>
<div class="col-xs-9">
  <div class= table>
    <%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "400x350" %>
    <tr>  
      <td><h2><%= @product.product_name %></h2></td>
    </tr>
    <tr>
      <td><%= @product.product_introduction %></td>
    </tr>
    <tr>
      <td><h3>¥<%= (@product.non_taxed_price*1.08).ceil %>(税込)</h3></td>
    </tr>
  </div>
  <%= form_for @cart do |f| %>
    <%= f.select :product_number, options_for_select((1..20).to_a), include_blank: "個数選択" %>
    <%= f.submit "カートに入れる" %>
  <% end %>
</div>