<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    	
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cherry+Swash:700 rel="stylesheet">
  </head>

  <body>
   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
       <span><%= link_to image_tag('12_Primary_logo_on_transparent_114x75.png'), '/' %></span>
      </div>
       <div class="collapse navbar-collapse" id="navbarEexample1">
       <ul class="nav navbar-nav navbar-right"> 
         <% if admin_signed_in? %>
          <li>
          <%= link_to '商品一覧', admin_products_path %>
          </li>
          <li>
              <%= link_to '会員一覧', admin_users_path %>
          </li>
          <li>
              <%= link_to '注文履歴一覧', admin_orders_path %>
          </li> 
          <li>
              <%= link_to 'ジャンル一覧', admin_genres_path %>       
            </li>
            <li>
            <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>       
            </li> 
            <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="検索キーワード">
            </div>
            <button type="submit" class="btn btn-default">検索</button>
            </form>
            <% elsif user_signed_in? %>
        <li>ようこそ<%= current_user.family_name %><%= current_user.first_name %>さん</li>
         <li>
         <%= link_to 'マイページ', user_path(current_user.id) %>
         </li>
         <li>
         <%= link_to '商品一覧', products_path %>
         </li>
         <li>
         <%= link_to 'カート', carts_path %>
         </li> 
         <li>
         <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
         </li>

        <% else %>
            <li>
              <%= link_to 'about', homes_about_path %>
            </li>
            <li>
              <%= link_to '商品一覧', products_path %>
            </li>
            <li>
              <%= link_to '新規登録', new_user_registration_path %>
            </li>
            <li>
              <%= link_to 'ログイン', new_user_session_path %>
            </li>
         <% end %> 
       </ul>
       </div>
     </nav>
   </div>    

    <%= yield %>
  </body>
</html>
